<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - <%=room%></title>
	<link rel="stylesheet" href="/css/chatroomStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(()=>{
			let socket = io('<%=host%>'+'/chatter',{
				transports:['websocket']
			});
			let roomID= '<%=roomID%>';
			let user ='<%=user.fullName%>';
			let userPic='<%=user.profilePic%>';
			let chatUsers=$('.chatUsers');
			let chatInput =$("input[name='userInput']");
			let chatMessagesDiv=$('.chatMessages');
			let picUpload=$('#uploadFile');
			picUpload.on('change',function(evt){
				
				let file=document.querySelector("input[type='file']").files[0];
				let reader = new FileReader();
				reader.onloadend=()=>{
					socket.emit('newImgMessage',{
						roomID,
						user,
						userPic,
						message: reader.result
					});

				updateImgFeed(userPic,reader.result);
				}
				if (file) {
				    reader.readAsDataURL(file);
				  } else {
				    preview.src = "";
				  }
			});
			socket.on('connect',()=>{
				socket.emit('join',{
					roomID,
					user,
					userPic
				});
			});
			let updateImgFeed=(userPic,message)=>{
				console.log()
				let template=`<div class="chatBlock">
					<div class="userPic"><img src="${userPic}"></div>
					<img src="${message}">
				</div>`;
				$(template).hide().prependTo(chatMessagesDiv).slideDown(200);

			}
			let updateFeed=(userPic,message)=>{
				let template=`<div class="chatBlock">
					<div class="userPic"><img src="${userPic}"></div>
					<div class="chatMsg">${message}</div>
				</div>`;
				$(template).hide().prependTo(chatMessagesDiv).slideDown(200);

			}
			let userList= (user)=>{
				return `<div class="userBlock">
					<div class="userPic"><img src="${user.userPic}" alt="${user.user}"></div>
					<div class="cuserName">${user.user}</div>
				</div>`;
			}

			socket.on('updateUsersList',data=>{
				let parseData =JSON.parse(data);
				let usersListData='';
				for(let user of parseData)
				{
					usersListData +=userList(user);
				}
				chatUsers.html('').append(usersListData);
			});
			socket.on('inMessage',(data)=>{
			let chatTxt = JSON.parse(data);
				//console.log(data);
				updateFeed(chatTxt.userPic,chatTxt.message);
			})
			socket.on('inImgMessage',(data)=>{
			let chatTxt = JSON.parse(data);
				//console.log(data);
				updateImgFeed(chatTxt.userPic,chatTxt.message);
			})
			chatInput.on('keyup',function(evt){
				evt.preventDefault();
				let messageFld=$(this);
				if(evt.which === 13 && messageFld.val() !== '')
				{
					socket.emit('newMessage',{
						roomID,
						user,
						userPic,
						message: messageFld.val()
					});
					updateFeed(userPic,messageFld.val());
					messageFld.val('');
				}
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | <%=room%></h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%=user.profilePic%>" alt="John Doe"></div>
			<p class="userName"><%=user.fullName%></p>
			<a href="/rooms" id="roomsBtn">Rooms</a>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="chatListDiv">
			<div class="chatMessagesPanel">
				<div class="chatMessages">
				<!-- Loop this for chat messages -->
								
				<!-- loop end -->
				</div>
				<div class="typePanel">
					<input type="text" name="userInput" placeholder="Type here and press enter">
					
					<input id="uploadFile" class="fileUploadBtn" type="file"
					accept="image/*"
					/>
				</div>
			</div>
			<div class="chatUsers">
			<!-- Loop this for chat users -->
				
			<!-- loop end -->
			</div>
		</div>
	</div>
</body>
</html>